.row {
    display: normal;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 800px;
    width: 1250px;
}

.form-group {
    color: #000000;
}
.form-group-btn {
    background: #ff6a00;
    margin: 100px;
    width: 10em;
    padding: 5px 40px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

    .form-group-btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        font-weight: bold;
    }

.contents {
    background-image: url(backRegistro.png);
    max-height: 720px;
    width: 1230px;
    height: 1300px;
    margin: 50px 50px 20px 0;
}